{{extend 'layout.html'}}
{{=H1(get_char_name())}}
<table class = 'table table-striped'>
    <tr>
        {{for entry in ['Category', 'Cost']:}}
        {{=TH(entry, _style="padding-right:10px;text-align:left;")}}
        {{pass}}
    </tr>
    {{for key, value in cost.items():}}
    <tr>
        {{=TD(XML(key), _style="padding-right:10px;text-align:left;")}}
        {{=TD(int(round(value,0)), _style="padding-right:10px;text-align:left;")}}
    </tr>
    {{pass}}
    <tr>
    {{=TD(XML('Total'), _style="padding-right:10px;text-align:left;")}}
    {{=TD(int(round(totalcost)), _style="padding-right:10px;text-align:left;")}}
    </tr>
</table>
