{{extend 'layout.html'}}
{{=H1(charname)}}
<div class='container'>
  <div class="row">
      <div class="col-sm-6">
          {{=H4('XP: {:,.2f}'.format(float(char_xp)))}}
          {{=H4('Total XP Cost: {:,.2f}'.format(float(total_xp)) )}}
          {{=H4('Free XP: {:,.2f}'.format(float(char_xp - total_xp)) )}}
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row">
  <div class="col-md-6">
<table class = 'table table-striped'>
    <tr>
        {{=form.custom.begin}}
        <th>Attribute</th>
        <th>Base</th>
        <th>Value</th>
        <th>XP</th>
    </tr>
    {{for attribute in attributes:}}
    <tr>
        <th>{{=form.custom.label[attribute]}}</td>
        <td>{{=base[attribute]}}</td>
        <td>{{=form.custom.widget[attribute]}}</td>
        <td>{{=xp[attribute]}}</td>
    </tr>
    {{pass}}
      <tr>
        <th>Total Attribute XP</td>
        <td></td>
        <td></td>
        <td>{{=total_attribute_xp}}</td>
      </tr>
</table>
{{=form.custom.submit}}
{{=form.custom.end}}
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
