{{extend 'layout.html'}}
{{=H1(charname)}}
<br>
<table>
<tr>
{{=form.custom.begin}}
        {{=form.custom.begin}}
        <th>Skill</th>
        <th>Weight</th>
        <th>Base</th>
        <th>Value</th>
        <th>XP</th>
    </tr>
{{for skill in skills:}}
    <tr>
        <td>{{=form.custom.label[skill]}}</td>
        <td>{{=weight[skill]}}</td>
        <td>{{=base[skill]}}</td>
        <td>{{=form.custom.widget[skill]}}</td>
        <td>{{=xp[skill]}}</td>
    </tr>
    {{pass}}
    <tr>
        <td>Total XP</td>
        <td></td>
        <td>{{=total_xp}}</td>
    </tr>
</table>
{{=form.custom.submit}}
{{=form.custom.end}}
