{{extend 'layout.html'}}
{{=H1(get_char_name())}}
{{=H2(ware)}}
<div class="container">
  <div class="row">
      <div class="col-sm-6">
          {{=H4('Money: {:,.2f}'.format(float(money)))}}
          {{=H4('Total Cost: {:,.2f}'.format(float(total_cost)) )}}
          {{=H4('Free Money: {:,.2f}'.format(float(money - total_cost)) )}}
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  <div class="row">
    <div class="col-sm-6">
<table class ='table table-striped'>
<tr>
{{=form.custom.begin}}
<th>Stat</th>
<th>Value</th>

</tr>
{{for stat in stats:}}
<tr>
<th>{{=form.custom.label[stat]}}</td>
<td>{{=form.custom.widget[stat]}}</td>
</tr>
{{pass}}
</table>
{{=form.custom.submit}}
{{=form.custom.end}}
      </div>
      <div class="col-sm-6">
      </div>
  </div>
    </div>
