{{extend 'layout.html'}}
{{=H1(get_char_name())}}
{{=form.custom.begin}}
<table class = 'table table-striped'>
    <tr>
        <th>Item</th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
    </tr>
{{for id, name in items:}}
<tr>
    <td>{{=name}}</td>
    {{for j in range(10):}}
    <td>{{=getattr(form.custom.widget, 'item_{}_{}'.format(id,j))}}</td>
    {{pass}}
</tr>
{{pass}}
</table>
{{=form.custom.submit}}
{{=form.custom.end}}
