{{extend 'layout.html'}}
{{=H1(get_char_name())}}
<div class="container">
  <div class="row">
      <div class="col-sm-6">
          {{=H4('XP: {:,.2f}'.format(float(char_xp)))}}
          {{=H4('Free XP: {:,.2f}'.format(float(char_xp-total_xp)))}}
          {{=H4('Total metamagic XP Cost: {:,.2f}'.format(float(total_metamagic_xp_cost)))}}
          {{=H4('Next metamagic XP: {:,.2f}'.format(float(next_metamagic_cost)))}}
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
        {{=form}}</div>
  </div>
</div>
