{{extend 'layout.html'}}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">



<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>



<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>
<div class="container">
  <div class="row">
      <div class="col-sm-6">
          {{=H4('Money: {:,.2f}'.format(float(money)))}}
          {{=H4('Total Cost: {:,.2f}'.format(float(total_cost)) )}}
          {{=H4('Free Money: {:,.2f}'.format(float(money - total_cost)) )}}
      </div>
      <div class="col-sm-6">
          {{=H4('Maximum Essence: {:,.2f}'.format(float(100)))}}
          {{=H4('Spent Essence: {:,.2f}'.format(float(100 - essence)))}}
          {{=H4('Essence: {:,.2f}'.format(float(essence)))}}
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
        {{=form}}</div>
  </div>
    </div>
{{if table:}}
        {{=TABLE(
        THEAD(TR([TH(h) for h in table[0]])),
        TBODY([TR([TD(column) if  i else TH(column, _scope="row") for i, column in enumerate(row)]) for row in table[1:]]),
        _id ='table', _class='table table-striped'
    )}}
{{pass}}
