{{extend 'layout.html'}}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">



<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>



<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>
<br>
{{=form}}
{{if table:}}
    <table id ='table' class='table table-striped'>
        {{=THEAD(TR([TH(h) for h in table[0]]))}}
        {{=TBODY([TR([TD(column) for column in row]) for row in table[1:]])}}
    </table>
{{pass}}
